/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.card-header img {
    margin-bottom: -50px;
}

bi {
    border-top: 2px solid transparent;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 10px;

    svg {
        width: 20px;
        height: 20px;
    }

    &.active {
        border-top-color: green;
        color: green;
        
        &:before {
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            border-color: transparent transparent green;
            border-style: solid;
            border-width: 3px;
        }
    }
}